:root{
    --ColorPrimaria:#0073d1;
    --red:#D10024;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  color: #2B2D42;
  font-weight: 700;
  margin: 0 0 10px;
}

a {
  color: #2B2D42;
  font-weight: 500;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

a:hover, a:focus {
  color: var(--ColorPrimaria);
  text-decoration: none;
  outline: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none
}

/* Navbar */
.navbar-top{
    background-color: black;
    color: aliceblue;
}
.navbar-top .container{
    padding: 20px 0;
}
.navbar-search input{
    border-radius: 30px;
}
.navbar-search button{
    border-radius: 0 30px 30px 0;
    background-color: var(--ColorPrimaria);
    color: aliceblue;
}
.navbar-search button:hover{
    color: aliceblue;
}
.container-icons i{
    font-size: 18px;
    position: relative;
    z-index: 1;
}
.container-icons div p{
    position: relative;
    top:-35px;
    left: 20px;
    width: 17px;
    height: 17px;
    text-align: center;
    background-color: var(--red);
    border-radius: 30px;
    z-index: 0;
    font-size: 12px;
}
.container-icons .icon{
    position: relative;
    top: 25px;
    margin: 0 10px 0 40px;
    cursor: pointer;
}
.cart-summary{
    padding: 60px 0;
    margin-right: 10px;
}
.menu-toggle {
    text-decoration: none;
    color: #f9f9f9;
    display: none;
  }
  .menu-toggle i{
    font-size: 20px;
  }
  .menu-toggle a{
    text-decoration: none;
    color: #f9f9f9;
  }
@media only screen and (max-width: 992px) {
    .menu-toggle {
        display: block;
      }
    .navigation {
        position: fixed;
        left: 0;
        display: none;
        top: 0;
        padding-top: 60px;
        background: #000000 !important;
        height: 100vh;
        max-width: 200px;
        width: 0%;
        z-index: 22;
        border-bottom: 0 !important;
        border-top: 0 !important;
        -ms-transform: translateX(-100%);
        transition: 0.2s all;
      }
      .main-nav{
        display: flex;
        flex-direction: row;
        flex-direction: column !important;
        padding: 20px 0;
        min-width: 175px;
      }
      .main-nav li{
        margin: 12px 5px !important;
        padding: 0 !important;
      }
      .main-nav>li>a {
        padding: 20px 0px;
        text-decoration: none;
        color: rgb(255, 255, 255) !important;
      }

      .main-nav>li>a:hover, .main-nav>li>a:focus, .main-nav>li.active>a {
        color: var(--ColorPrimaria) !important;
        background-color: transparent;
      }

      .main-nav>li>a:after {
        content: "";
        display: block;
        width: 0%;
        height: 2px;
        background-color: var(--ColorPrimaria);
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
      }

      .main-nav>li>a:hover:after, .main-nav>li>a:focus:after, .main-nav>li.active>a:after {
        width: 100%;
      }
      .logo-img{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
      }
}
@media only screen and (max-width:600px){
    .menu-toggle span{
        display: none;
    }
}


/* cart */

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    left: -250px;
    padding: 15px;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 11;
}
.dropdown-content .cart-list {
    display: block;
    max-height: 180px;
    overflow-y: scroll;
    margin-bottom: 15px;
    overflow: auto;

  }
  .dropdown-content .cart-list::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #0000003a; /* or add it to the track */
  }

  .delete i{
    font-size: 12px;
  }
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.product-widget {
    position: relative;
  }

  .product-widget+.product-widget {
    margin: 30px 0px;
  }

  .product-widget .product-img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
  }

  .product-widget .product-img>img {
    width: 100%;
  }

  .product-widget .product-body {
    padding-left: 75px;
    min-height: 60px;
  }

  .product-widget .product-body .product-category {
    text-transform: uppercase;
    font-size: 10px;
    color: #8D99AE;
  }

  .product-widget .product-body .product-name {
    text-transform: uppercase;
    font-size: 12px;
  }

  .product-widget .product-body .product-name>a {
    font-weight: 700;
  }

  .product-widget .product-body .product-name>a:hover, .product-widget .product-body .product-name>a:focus {
    color: var(--ColorPrimaria)
  }

  .product-widget .product-body .product-price {
    font-size: 14px;
    color: var(--ColorPrimaria)
  }

  .product-widget .product-body .product-price .product-old-price {
    font-size: 70%;
    font-weight: 400;
    color: #8D99AE;
  }

  .product-widget .product-body .product-price .qty {
    font-weight: 400;
    margin-right: 10px;
  }

  .product-widget .delete {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    text-align: center;
    font-size: 10px;
    padding: 0;
    background: #1e1f29;
    border: none;
    color: #FFF;
  }

  .dropdown-content .cart-btns {
    margin: 0px -17px -17px;
    display: flex;
  }
  .dropdown-content .cart-btns .view-cart{
    background-color: black;
  }
  .dropdown-content .cart-btns>a {
    display: inline-block;
    width: calc(50% - 0px);
    padding: 12px;
    background-color: var(--ColorPrimaria);
    color: #FFF;
    text-align: center;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  .dropdown-content .cart-btns>a:hover {
    opacity: 0.9;
  }
  .dropdown-content .cart-summary {
    border-top: 1px solid #E4E7ED;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
  }
@media only screen and (max-width: 600px) {
    .dropdown-content {
        left: -200px;
    }
}
@media only screen and (max-width: 400px) {
    .dropdown-content {
        left: -170px;
    }
}
/* NavList */
 .navigation {
    background: #FFF;
    width: 100%;
    border-bottom: 2px solid #E4E7ED;
    border-top: 3px solid var(--ColorPrimaria);
  }
  .main-nav{
    display: flex;
    flex-direction: row;
  }
  .main-nav li{
    margin: 0 20px 0 0;
    padding:20px 0;
  }
  .main-nav>li>a {
    padding: 20px 0px;
    text-decoration: none;
    color: black;
  }

  .main-nav>li>a:hover, .main-nav>li>a:focus, .main-nav>li.active>a {
    color: var(--ColorPrimaria);
    background-color: transparent;
  }

  .main-nav>li>a:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--ColorPrimaria);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }

  .main-nav>li>a:hover:after, .main-nav>li>a:focus:after, .main-nav>li.active>a:after {
    width: 100%;
  }

/* Navbar */
/* Dropdown Categories */
.paste-button {
  position: relative;
  display: block;
}

.button {
  cursor: pointer;
  border: 0;
  background: transparent;
  color: #000000;
  font-weight: 300;
}
.dropdown-contente {
  position: absolute;
  display: none;
  font-size: 13px;
  z-index: 11;
  min-width: 200px;
  margin-top: 20px;
  background-color: #FFF;
  border-top: 2px solid var(--ColorPrimaria);
}
.dropdown-contente a {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: #000000;

}
.paste-button:hover button {
  border-radius: 15px 15px 0px 0px;
}
.paste-button:hover .dropdown-contente {
  display: block;
}

.paste-button:hover .button{
  color: var(--ColorPrimaria);
}

.dropdown-contente a:hover, .dropdown-contente a:focus, .dropdown-contente a.active>a {
  color: var(--ColorPrimaria);
  background-color: transparent;
}

.dropdown-contente a:after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--ColorPrimaria);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.dropdown-contente a:hover:after, .dropdown-contente a:focus:after, .dropdown-contente a.active>a:after {
  width: 100%;
}
@media only screen and (max-width: 992px){
  .button {
    cursor: pointer;
    color: #ffffff;
    font-weight: 300;
    padding: 0;
  }
  .dropdown-contente {
    position: relative;
    display: none;
    font-size: 13px;
    z-index: 11;
    min-width: 150px;
    background-color: #ffffff2d;
    padding-top: 20px;
    border-radius: 5px;
  }
  .dropdown-contente a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: #ffffff;
    transition: 0.1s;
  }
}
/* Dropdown Categories */
/* Product view */
#product-main-img .slick-prev {
  -webkit-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  transform: translateX(-15px);
  left: 15px;
}

#product-main-img .slick-next {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
  right: 15px;
}

#product-main-img .slick-prev, #product-main-img .slick-next {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

#product-main-img:hover .slick-prev, #product-main-img:hover .slick-next {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
}

#product-main-img .zoomImg {
  background-color: #FFF;
}

#product-imgs .product-preview {
  margin: 0px 5px;
  border: 1px solid #E4E7ED;
}

#product-imgs .product-preview.slick-current {
  border-color: #D10024;
}

#product-imgs .slick-prev {
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#product-imgs .slick-next {
  top: calc(100% - 20px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#product-imgs .slick-prev:before {
  content: "\f106";
}

#product-imgs .slick-next:before {
  content: "\f107";
}

.product-preview img {
  width: 100%;
}
.product-details .product-name {
  text-transform: uppercase;
  font-size: 18px;
}

.product-details .product-rating {
  display: inline-block;
  margin-right: 15px;
}

.product-details .product-rating>i {
  color: #E4E7ED;
}

.product-details .product-rating>i.fa-star {
  color: var(--ColorPrimaria);
}

.product-details .review-link {
  font-size: 12px;
}

.product-details .product-price {
  display: inline-block;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: var(--ColorPrimaria);
}

.product-details .product-price .product-old-price {
  font-size: 70%;
  font-weight: 400;
  color: #8D99AE;
}

.product-details .product-available {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 30px;
  color: var(--ColorPrimaria);
}
.product-details .product-available-red {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 30px;
  color: var(--red);
}

.product-details .product-options {
  margin-top: 30px;
  margin-bottom: 30px;
}

.product-details .product-options label {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 15px;
  margin-bottom: 0px;
}

.product-details .product-options .input-select {
  width: 90px;
}

.product-details .add-to-cart {
  margin-bottom: 30px;
}

.product-details .add-to-cart .add-to-cart-btn {
  position: relative;
  border: 2px solid transparent;
  height: 40px;
  padding: 0 30px;
  background-color: var(--ColorPrimaria);
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 40px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.product-details .add-to-cart .add-to-cart-btn>i {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 38px;
  color: var(--ColorPrimaria);
  opacity: 0;
  visibility: hidden;
}

.product-details .add-to-cart .add-to-cart-btn:hover {
  background-color: #FFF;
  color: var(--ColorPrimaria);
  border-color: var(--ColorPrimaria);
  padding: 0px 30px 0px 50px;
}

.product-details .add-to-cart .add-to-cart-btn:hover>i {
  opacity: 1;
  visibility: visible;
}

.product-details .add-to-cart .qty-label {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 15px;
  margin-bottom: 0px;
}

.product-details .add-to-cart .qty-label .input-number {
  width: 90px;
  display: inline-block;
}

.product-details .product-btns li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
}

.product-details .product-btns li+li {
  margin-left: 15px;
}

.product-details .product-links {
  margin-top: 15px;
}

.product-details .product-links li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
}

.product-details .product-links li+li {
  margin-left: 10px;
}
.input-number {
  position: relative;
}

.input-number input[type="number"]::-webkit-inner-spin-button, .input-number input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number input[type="number"] {
  -moz-appearance: textfield;
  height: 40px;
  width: 100%;
  border: 1px solid #E4E7ED;
  background-color: #FFF;
  padding: 0px 35px 0px 15px;
}

.input-number .qty-up, .input-number .qty-down {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #E4E7ED;
  background-color: #FFF;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-number .qty-up {
  right: 0;
  top: 0;
  border-bottom: 0px;
}

.input-number .qty-down {
  right: 0;
  bottom: 0;
}

.input-number .qty-up:hover, .input-number .qty-down:hover {
  background-color: #E4E7ED;
  color: var(--ColorPrimaria);
}
#dropdown-cart .number{
    display: flex;
    justify-content: center;
}


